* @REPLACE_ORG/platform-team
/apps/cloudsentinel/overlays/production/ @REPLACE_ORG/platform-team @REPLACE_ORG/cloudsentinel-owners
/platform/cloudsentinel-secrets/overlays/production/ @REPLACE_ORG/platform-team @REPLACE_ORG/cloudsentinel-owners
/bootstrap/ @REPLACE_ORG/platform-team
